{% extends 'base.html' %}
{% include 'header.html' %}

{% block main %}
<div id="videos">
    <div style="position:absolute; top:0; right:0; padding-right: 20px; padding-top: 20px">
        <video width="100px" id="localVideo" autoplay muted playsinline></video>
    </div>
    <div id="buttonStop">
        <button type="button" class="btn btn-danger" onclick="stop()">End Session</button>
    </div>
    <div id="remoteVideoDiv">
        <video height="100%" width="100%" id="remoteVideo" autoplay playsinline></video>
    </div>
</div>

<script src="{{url_for('static', filename='webrtc.js')}}"></script>
<script>
    let searchParams = new URLSearchParams(window.location.search);
    target_macAdd = searchParams.get('mac_add'); 
    username = searchParams.get('username'); 

    login(username, target_macAdd)
</script>

{% endblock %}