

<div class="d-flex justify-content-center">
    <div>
        <div class="d-flex align-items-center row w-100">
            <div class="col-9">
                <iframe src="http://192.168.0.84:8081/0/stream" title="Motion Iframe" class="container d-flex justify-content-center" style="height: 720px;  width: 850px;"></iframe>
            </div>
            <div class="col-3">
                <div>
                    <h3>Please write down your name</h3>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="inputNewName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputNewName" name="inputNewName" required>
                    </div>
                    <button id="snapshotBtn" type="button" class="btn btn-primary mt-2 btn-lg">Snapshot</button>
                </form>
            </div>
        </div>
    </div>
</div>