.dialWrapper {
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.dialNumpadHWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.dialNumber {
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.incomingWrapper {
  width: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dialActionButton {
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: larger;
  cursor: pointer;
}

#errorMessage {
  color: red;
}

#polar {
  border-radius: 100px;
  background-color: white;
  border: 1px solid #000;
}
div {
    margin: 10px;
}
.first {
    width: 25%;
    /* display: inline-block; */
}
.second {
    width: 25%;
    /* display: inline-block; */
}
.third {
    width: 25%;
    /* display: inline-block; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  min-height: 90vh;
}

#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonStop{
  display: none;
}

#remoteVideoDiv{
  display: none;
}